.cell {
  position: relative;
  text-align: center;

  h2 {
    font-size: 2.6rem;
  }

  .price {
    background-color: $color-bg-price;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media #{$medium-devices} {
  .four.wide.cell {
    width: 50%;
  }
}

@media #{$small-devices} {
  .four.wide.cell {
    width: 100%;
  }
}
