.wrapper {
  padding: 4em 1em 1em 1em;
  position: relative;
  transition: all .5s ease-in-out;

  &.menu-visible {
    transform: translateX($menu-items-width);
  }

  .cell {
    padding: 1em;
  }

  h1 {
    text-align: center;
  }
}

@media #{$small-devices} {
  .wrapper {
    &.menu-visible {
      transform: translateY($menu-items-height * $menu-items);
    }
  }
}
