.wrapper {
  background-color: $color-bg-wrapper;
  padding: 4em 1em 1em;
  position: relative;
  transition: all .5s ease-in-out;
  z-index: 100;

  &.menu-visible {
    transform: translateX($menu-items-width);
  }

  .cell {
    padding: 1em;
  }

  h1 {
    text-align: center;
  }
}

@media #{$medium-devices} {
  .wrapper {
    &.menu-visible {
      transform: translateY($menu-items-height * ceil($menu-items / 2));
    }
  }
}

@media #{$small-devices} {
  .wrapper {
    &.menu-visible {
      transform: translateY($menu-items-height * $menu-items);
    }
  }
}
