html {
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(to right, $color-green, $color-blue);
  height: 100%;
  perspective: 500px;
  perspective-origin: 75% 100%;
  position: absolute;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
